/* Descriptions Style */
.description__layout {
  background-color: #00979c;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;

}

.descriptionlayout {
  background-color: #00979c;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;

}

.description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  .description__layout {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.description__content {
  width: 100%;
  font-size: 1rem;
  text-indent: 2rem;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
