.image {
    position: relative;
  
  }

  .image__link {
    display: block;
  }
  
  .image__style {
    width: 100%;
    display: block;
  }
  
  .image_title {
    color: white;
    right: 1rem;
    bottom: 0;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
  }